body {
  background: radial-gradient(#0a2659, #121212);
  height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif;
}
.geral {
  display: flex;
  justify-content: center;
  height: 250px;
  width: 400px;
  border-radius: 10px;
  border: 1px solid #333;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  align-items: center;
  flex-direction: column;
  background-color: #1b1b20;
}
.geralCadastro{
  display: flex;
  justify-content: center;
  height: 300px;
  width: 500px;
  border-radius: 10px;
  border: 1px solid #333;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  align-items: center;
  flex-direction: column;
  background-color: #1b1b20;
}
.divinput{
  margin-bottom: 10px;
}
/* CSS */
.btnAcesso {
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  margin-bottom: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.btnAcesso:disabled {
  cursor: default;
  opacity: .3;
}

.btnAcesso:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.btnAcesso:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.btnAcesso:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

.inputLogin{
  
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.inputLogin:focus{
  color: #51A9EE;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(80, 139, 226, 0.425);
}
